
button.active {
    background-color: #ddd;
    border-radius: 5px;
}


.description {
    display: inline-block;
    width: 95%;
    padding: 10px 2.5%;
}

.description img {
    float: right;
}

.description p {
    width: 60%;
    float: left;
}

.timeline-container {
    width: inherit;
    overflow: scroll;
}
.panel {
    width: 33.3333%;
    float: left;
}
.controls {
    display: inline-block;
}
rect.bar.disabled,
rect.bar {
    fill: red;
}
rect.bar.disabled:hover {
    fill: tomato;
}

text.seg-label {
    font-family: Verdana;
    font-size: 8;
    pointer-events: none;
}
